<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      lang="it">
<head th:insert="fragments/header :: header"></head>
<head>
    <meta charset="UTF-8">
    <title>I tuoi assets</title>
</head>
<body class="landing">
<div id="page-wrapper">
    <header th:replace="fragments/top :: top"></header>
    <section id="main" class="container">
        <div class="row">
            <div class="col-12">
                <section class="box">
                    <div class="row gtr-uniform">
                        <div class="col-2 col-4-mobile ">
                            <a th:href="@{/}" class="button icon solid fa-chevron-left">Indietro</a>
                        </div>
                        <div class="col-6 col-8-mobile">
                            <h2>Tutti i dati dei tuoi assets</h2>
                        </div>
                        <div class="col-4 col-12-mobile">
                            <label for="order"></label>
                            <select id="order">
                                <option value="0">Ordinamento per SRC Ipv4 (default)</option>
                                <option value="1">Ordinamento per DEST Ipv4</option>
                                <option value="2">Ordinamento per SRC MAC</option>
                                <option value="3">Ordinamento per DEST MAC</option>
                                <option value="4">Ordinamento per SRC Ipv6</option>
                                <option value="5">Ordinamento per DEST Ipv6</option>
                            </select>
                        </div>
                        <div class="col-2 col-12-mobile">
                            Esporta questa pagina in csv
                        </div>
                        <div class="col-2 col-12-mobile">
                            <a th:if="${param.pageN != null && param.order == null}" th:href="@{/export(pageN=${param.pageN[0]})}"
                               class="button fit">Esporta pagina</a>
                            <a th:if="${param.pageN == null && param.order != null}" th:href="@{/export(order=${param.order[0]})}"
                               class="button fit">Esporta pagina</a>
                            <a th:if="${param.pageN != null && param.order != null}"
                               th:href="@{/export(pageN=${param.pageN[0]},order=${param.order[0]})}"
                               class="button fit">Esporta pagina</a>
                            <a th:if="${param.pageN == null && param.order == null}" th:href="@{/export}"
                               class="button fit">Esporta pagina</a>
                        </div>
                        <div class="col-2 col-12-mobile">
                        </div>
                        <div class="col-4 col-12-mobile">
                            Esporta tutti i record degli asset in csv. <br>Attenzione! Questa operazione può essere molto lenta
                        </div>
                        <div class="col-2 col-12-mobile">
                            <a th:href="@{/export/all}" class="button fit">Esporta tutti</a>
                        </div>
                        <div class="col-12 col-12-mobile">
                            <hr>
                        </div>
                    </div>
                    <h3 th:if="${param.message != null}" th:text="${param.message[0]}" class="error"></h3>
                    <h3 th:if="${message != null}" th:text="${message}" class="error"></h3>
                    <br th:if="${message != null}">
                    <div th:if="${assets.iterator().hasNext()}" class="row gtr-uniform" th:each="asset : ${assets}" id="found">
                        <div class="col-12 col-12-mobile">
                            <br>
                        </div>
                        <div class="col-2 col-6-mobile">
                            src IPv4: <a th:href="@{/assets/allsrcIPv4/__${asset.srcIp4}__}"><h4 th:text="${asset.srcIp4}!=null? ${asset.srcIp4} : 'Nessun src IPv4'"></h4></a>
                        </div>
                        <div class="col-2 col-6-mobile">
                            dest IPv4: <a th:href="@{/assets/alldestIPv4/__${asset.destIp4}__}"><h4 th:text="${asset.destIp4}!=null? ${asset.destIp4} : 'Nessun dest IPv4'"></h4></a>
                        </div>
                        <div class="col-2 col-6-mobile">
                            src MAC: <h4 th:text="${asset.srcMac}!=null? ${asset.srcMac} : 'Nessun src MAC'"></h4>
                        </div>
                        <div class="col-2 col-6-mobile">
                            dest MAC: <h4 th:text="${asset.destMac}!=null? ${asset.destMac} : 'Nessun dest MAC'"></h4>
                        </div>
                        <div class="col-2 col-6-mobile">
                            src IPv6: <h4 th:text="${asset.srcIp6}!=null? ${asset.srcIp6} : 'Nessun src IPv6'"></h4>
                        </div>
                        <div class="col-2 col-6-mobile">
                            dest IPv6: <h4 th:text="${asset.destIp6}!=null? ${asset.destIp6} : 'Nessun dest IPv6'"></h4>
                        </div>

                        <div class="col-2 col-6-mobile">
                            src Port: <h4 th:text="${asset.srcPort}!=null? ${asset.srcPort} : 'Nessuna src Port'"></h4>
                        </div>
                        <div class="col-2 col-6-mobile">
                            dest Port: <h4 th:text="${asset.destPort}!=null? ${asset.destPort} : 'Nessuna dest Port'"></h4>
                        </div>
                        <div class="col-2 col-6-mobile">
                            PROTO: <h4 th:text="${asset.proto}!=null? ${asset.proto} : 'Nessun Protocollo'"></h4>
                        </div>
                        <div class="col-2 col-6-mobile">
                            FLAGS: <h4 th:text="${asset.flags}!=null? ${asset.flags} : 'Nessun FLAG'"></h4>
                        </div>
                        <div class="col-2 col-6-mobile">
                            Fisrt seen: <h4 th:text="${asset.firstSeen}!=null? ${asset.firstSeen} : 'Nessuna data registrata'"></h4>
                        </div>
                        <div class="col-2 col-6-mobile">
                            Last seen: <h4 th:text="${asset.lastSeen}!=null? ${asset.lastSeen} : 'Nessuna data registrata'"></h4>
                        </div>
                        <div class="col-12 col-12-mobile"><hr></div>
                    </div>
                    <div class="row gtr-uniform">
                        <div class="col-12 col-12-mobile">&nbsp;</div>
                        <div class="col-4 col-12-mobile"></div>
                        <div class="col-2 col-6-mobile">
                            <a href="javascript:{}" id="prev" class="button">Pagina precedente</a>
                        </div>
                        <div class="col-2 col-6-mobile">
                            <a href="javascript:{}" id="next" class="button">Pagina successiva</a>
                        </div>
                        <div class="col-4 col-12-mobile"></div>
                        <div class="col-12 col-12-mobile"><br></div>
                    </div>
                    <div th:if="${!assets.iterator().hasNext()}" class="row gtr-uniform" id="notFound">
                        <div class="col-12 col-12-mobile">
                            <h3>Non c'&egrave; alcun asset registrato, inizia lasciando in esecuzione il tool e torna tra un po'</h3>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</div>
<script type="application/javascript" th:inline="javascript">
    $(document).ready(function(){
        const p = window.location.href;
        let u = new URL(p);
        let c = u.searchParams.get("order");
        console.log(c)
        if(c!==null)
            $('#order').val(c)
    })
    $('#order').change(function() {
        let o = $('#order').val()
        const p = window.location.href;
        if (p.includes("?order="))
            window.location.href = p.replace(RegExp("\\?order=[0-9]+"), "?order="+o)
        else if (p.includes("&order="))
            window.location.href = p.replace(RegExp("\&order=[0-9]+"), "&order="+o)
        else if (p.includes("?pageN="))
            window.location.href = p + "&order=" + o
        else
            window.location.href = p + "?order=" + o
    })
    $('#prev').click(function() {changePage(-1)})
    $('#next').click(function() {changePage(1)})
    function changePage(d) {
        let p = Number([[${pageN}]]) + Number(d)
        let n = "&pageN="
        let g = window.location.href
        if(p>=0)
            if (g.includes("?pageN="))
                window.location.href = g.replace(RegExp("\\?pageN=[0-9]+"), "?pageN="+p)
            else if (g.includes(n))
                window.location.href = g.replace(RegExp("\&pageN=[0-9]+"), n+p)
            else if (g.includes("?order="))
                window.location.href = g+n+p
            else
                window.location.href = g+"?pageN="+p
    }
</script>
<div th:replace="fragments/bottom :: bottom"></div>
</body>
</html>