<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="it">
<head th:insert="fragments/header :: header"></head>
<head>
    <meta charset="UTF-8">
    <title>Debug page</title>
</head>
<body>
<div id="page-wrapper">
    <header th:replace="fragments/top :: top"></header>
    <section id="main" class="container">
        <div class="row">
            <div class="col-12">
                <section class="box" sec:authorize="!hasRole('ROLE_ADMIN')">
                    <div class="row gtr-uniform">
                        <div class="col-12 col-12-mobile">
                            <h2>Pagina di debug visibile solo agli amministratori, VAI VIA O VERRAI PUNITO</h2>
                        </div>
                    </div>
                </section>
                <section class="box" sec:authorize="hasRole('ROLE_ADMIN')">
                    <div class="row gtr-uniform">
                        <div class="col-12 col-12-mobile">
                            <h2>Pagina di debug</h2>
                        </div>
                        <div class="col-12 col-12-mobile"><hr></div>
                    </div>
                    <div class="row gtr-uniform">
                        <div class="col-12 col-12-mobile">
                            <h3><b th:text="'Total records: '+${records}"></b></h3>
                        </div>
                        <div class="col-12 col-12-mobile"><hr></div>
                    </div>
                    <div class="row gtr-uniform">
                        <div class="col-12 col-12-mobile">
                            <h2>All users in app</h2>
                        </div>
                        <div class="col-12 col-12-mobile"><hr></div>
                    </div>
                    <div th:if="${users.iterator().hasNext()}" class="row gtr-uniform" th:each="user : ${users}">
                        <div class="col-6 col-12-narrow col-12-mobile">
                            <h3>ID: <b th:text="${user.id}"></b></h3>
                        </div>
                        <div class="col-6 col-12-narrow col-12-mobile">
                            <h4>Email: <th:block th:text="${user.email}"></th:block></h4>
                        </div>
                        <div class="col-6 col-12-narrow col-12-mobile wrap-text">
                            <h4>Encr psswd: <th:block th:text="${user.password}"></th:block></h4>
                        </div>
                        <div class="col-6 col-12-narrow col-12-mobile">
                            <h4>Username: <th:block th:text="${user.username}"></th:block></h4>
                        </div>
                        <div class="col-12 col-12-mobile"><hr></div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</div>
<div th:replace="fragments/bottom :: bottom"></div>
</body>
</html>