<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head th:insert="fragments/header :: header"></head>
<head>
    <meta charset="UTF-8">
    <title>Success</title>
</head>
<body>
<div id="page-wrapper">
    <header th:replace="fragments/top :: top"></header>
    <section id="main" class="container">
        <div class="row">
            <div class="col-12">
                <section class="box">
                    <div align="center">
                        <h3 th:text="${message}">OK</h3>
                    </div>
                </section>
            </div>
        </div>
    </section>
</div>
<div th:replace="fragments/bottom :: bottom"></div>
</body>
</html>